.loginContainer {
    border: 1px solid var(--mainColor);
    width: 200px;
    height: 100px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;

}