.containerNavbar {
    background-color: var(--mainColor);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        & li {
            margin-left: 5px;
            margin-right: 5px;



            & a {
                text-decoration: none;
                color: white;
            }
        }
    }
}